@import 'base/variables';
*{
    font-family: 'Museo Sans Cyrl', sans-serif;
    box-sizing: border-box;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
}

@import 'blocks/promo';
@import 'blocks/header.scss';
@import 'blocks/buttons.scss';
@import 'blocks/adv';
@import 'blocks/titles.scss';
@import 'blocks/consultation';
@import 'blocks/forms';
@import 'blocks/carousel';
@import 'blocks/catalog';
@import 'blocks/feedback';
@import 'blocks/footer';
@import 'blocks/modals';
@import 'blocks/pageup';
@import 'blocks/media';