body {
    margin: 0;
    font-family: "Raleway", sans-serif;
    background-color: #ffd700;
    color: #333;
}

.app-container {
    text-align: center;
}

.main {
    margin-left: 5%;
    margin-right: 5%;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #ffd700;

}

.nav-icon {
    width: 50px;
    height: 50px;
}

.navbar-main {
    display: flex;
    gap: 40px;
    font-family: "Raleway", sans-serif;


}

.nav-link-main {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-family: "Raleway", sans-serif;
    top: 50%;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
}

.nav-link-main:hover {
    color: #444444;
    cursor: pointer;
}

.sign-up-main {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    font-family: "Raleway", sans-serif;
    font-size: 20px;
}

.sign-up-main:hover {
    background-color: #333;
    cursor: pointer;
}

.dec1 {
    position: absolute;
    width: 20px;
    left: 65px;
    top: 50px;
}

.circle7-icon {
    position: absolute;
    width: 25px;
    left: 75px;
    top: 25px;
}

.dec2 {
    position: absolute;
    width: 25px;
    height: 25px;
    left: 450px;
    top: 140px;
}

.title {
    font-size: 200px;
    font-weight: bold;
    color: black;
    position: relative;
    margin-bottom: 0px;
    margin-top: -15px;
    font-family: "Raleway", sans-serif;
}

.title-highlight {
    position: relative;
    display: inline-block;
    z-index: 1;
}

.title-highlight::before {
    content: "";
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1em;
    height: 1em;
    background-color: white;
    border-radius: 50%;
    z-index: -1;
}


.subtitle {
    gap: 0;
    font-family: "Raleway", sans-serif;
}
.subtitle-1 {
    font-size: 40px;
    font-weight: bold;
    color: black;
    text-align: center;
    margin: 0;
}

.subtitle-2 {
    font-size: 40px;
    font-weight: bold;
    color: black;
    text-align: center;
    margin: 0;
}

.cta-buttons {
    margin-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont {
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.button-wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 420px;
    margin-left: 70px;
}

.sign-up-button {
    flex: 2;
    background-color: black;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 40px;
    font-weight: bolder;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 40px;
    font-family: "Raleway", sans-serif;
    width: 280px;
    height: 80px;
}



.test-button {
    flex: 1;
    background-color: #F4E6CB;
    color: black;
    padding: 15px 30px;
    font-size: 20px;
    font-weight: bold;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 40px;
    font-family: "Raleway", sans-serif;
    border: 6px solid #000000;
}

.sign-up-button:hover {
    background-color: #333;
    transform: scale(1.1);
}

.test-button:hover {
    background-color: #A49B8A;
    transform: scale(1.1);
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
}



.dec3 {
    position: absolute;
    margin-left: 10px;
    margin-top: 250px;

}

.how-it-works-container {
    flex: 1;
    max-width: 25%;
    background-color: #ffd700;
    border-radius: 15px;
    padding: 55px 40px 160px 0;
}

.grass {
    display: flex;
    gap: 0;
}
.grass-icon {
    width: 300px;
}


.how-it-works-content {
    position: relative;
    padding: 20px;
    background-color: black;
    color: white;
    font-family: "Raleway", sans-serif;
}
.content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex: 1;
    max-width: 25%;
    background-color: #ffd700;
    gap: 0px;
    font-family: "Raleway", sans-serif;
    overflow: hidden;
    padding: 20px 0 169px 20px;
}

.man-icon {
    width: 150px;
    height: auto;
    margin-bottom: 0;
}

.popular-reviews {
    margin-top: 0;
    background-color: black;
    color: white;
    border-radius: 17px 0px 0px 0px;
    padding: 20px;
    text-align: center;
    width: 150px;
    height: 60px;
}

.reviews-list {
    margin-top: 0px;
    background-color: #EAE4DF;
    padding: 10px;
    font-size: 15px;
    color: black;
    font-family: "Raleway", sans-serif;
    text-align: left;
    box-sizing: border-box;
    width: 100%;
    max-width: 300px;
    border: 3px solid #000000;
    border-radius: 25px 0px 0px 25px;

}

.review-item {
    margin-bottom: 10px;
}

.sec-title {
    font-family: "Raleway", sans-serif;
    font-size: 30px;
    font-weight: bold;
    margin: 0 0 10px;
}

.third-title {
    font-family: "Raleway", sans-serif;
    font-size: 30px;
    font-weight: bold;
    margin: 0 0 10px;
}

.description {
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    line-height: 1.5;
}

.striped-background {
    position: absolute;
    bottom: -160px;
    left: 0;
    height: 180px;
    width: 100%;
    background: repeating-linear-gradient(
            90deg,
            black 0,
            black 5px,
            white 5px,
            white 10px,
            yellow 10px,
            yellow 15px
    );
    z-index: 0;
}

.striped-background2 {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 169px;
    margin-left: 15%;
    width: 85%;
    background: repeating-linear-gradient(
            90deg,
            black 0,
            black 5px,
            white 5px,
            white 10px,
            yellow 10px,
            yellow 15px
    );
    z-index: 1;
}


.decorations {
    position: absolute;
    right: 10px;
    top: 0;
    width: 40%;
    text-align: center;
}


.earth-icon {
    position: relative;
    right: 640px;
    width: 70px;
    top: 350px;
    transform: rotate(30deg);

}

.circle1-icon {
    position: absolute;
    width: 35px;
    left: 1220px;
    top: 580px;
    transform: rotate(90deg);
}

.circle2-icon {
    position: absolute;
    width: 25px;
    height: 21.92px;
    left: 1080px;
    top: 640px;
}

.circle3-icon {
    position: absolute;
    width: 25px;
    height: 21.92px;
    left: 1210px;
    top: 630px;
    transform: rotate(180deg);
}

.circle4-icon {
    position: absolute;
    width: 10px;
    height: 8.77px;
    left: 1090px;
    top: 670px;
    transform: rotate(46.28deg);
}

.circle5-icon {
    position: absolute;
    width: 10px;
    height: 8.77px;
    left: 1110px;
    top: 630px;
    transform: rotate(46.28deg);
}

.circle6-icon {
    position: absolute;
    width: 10px;
    height: 8.77px;
    left: 1225.34px;
    top: 660px;
    transform: rotate(46.28deg);
}

.language-icon {
    position: absolute;
    width: 70px;
    height: 70px;
    left: 100px;
    top: 30px;
    transform: matrix(-1, 0, 0, 1, 0, 0);

}

.practice-container {
    padding: 20px;
    margin-top: 0px;
    height: 400px;
    background-color: #DFD7CF;
    padding-left: 5%;
    padding-right: 5%;
}

.practice-title {
    margin-top: 40px;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 60px;
    color: #000;
    font-family: "Raleway", sans-serif;

}

.practice-options {
    display: flex;
    justify-content: center;
    gap: 5%;
}

.practice-option {
    font-family: "Raleway", sans-serif;
    background-color: #fff;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 350px;
}

.practice-option a{
    text-decoration: none;
    color: #FCFEFE;
}

.avatars {
    display: flex;
    justify-content: center;
    gap: 0px;
    margin-bottom: 20px;
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #ccc;
}

.avatar:first-child {
    margin-left: 0;
}

.join-button {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: "Raleway", sans-serif;

}

.join-button.highlight {
    background-color: #ffd700;
    color: #000;
}

.join-button:hover {
    background-color: #444;
    transform: scale(1.1);
}

.join-button.highlight:hover {
    background-color: #f1c40f;
    transform: scale(1.1);
}


.footer {
    background-color: black;
    color: #A49B8A;
    font-family: "Raleway", sans-serif;
    padding: 10px;
    font-size: 18px;
}
