.consultation{
    min-height: 680px;
    padding: 100px 0 108px 0;
    background: url('../img/bg2.png') center (center/cover) no-repeat;
    &__descr{
        color: #FFF;
        font-family: MuseoModerno;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 30px;
    }
    .error{
        border: 1px solid red;
        color: white;
    }
    label.error{
        border: none;
        text-align: left;
        margin-bottom: 15px;
    }
}