.footer{
    height: 630px;
    position: relative;
    &__info{
        position: absolute;
        width: 460px;
        height: 270px;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        background-color: $main-color;
        padding: 50px 68px 60px 68px;
    }
    address{
        color: #FFF;
        text-align: center;
        font-family: MuseoModerno;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px; /* 100% */
        margin-bottom: 0;
    }
    &__phone{
        color: #FFF;
        display: block;
        margin: 36px auto 0 auto;
        text-align: center;
        font-family: MuseoModerno;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 20px; /* 100% */
    }
    &__icons{
        margin-top: 36px;
        display: flex;
        justify-content: center;
        align-items: center;
        :last-child{
            margin-right: 0px;
        }
    }
    &__icon{
        margin-right: 27px;
        padding: 11px;
        border-radius: 100%;
        border: 2px solid white;
        
        img{
            width: 25px;
            height: 25px;
        }

    }
}