.feed-form{
    margin-top: 36px;
    display: flex;
    flex-direction: column;
    width: 303px;
    input{
        height: 54px;
        border-radius: 5px;
        background-color: #fff;
        margin-bottom: 11px;
        padding: 0 21px;
        color: #4B4B4B;
        font-family: MuseoModerno;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        &:nth-child(3){
            margin-bottom: 17px;
        }
    }
    &_mgtop25{
        margin-top: 11px;
    }
}