.overlay{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .56);
    top: 0;
}
.modal{
    position: absolute;
    top: 50%;
    padding: 35px 23px 40px 40px;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 382px;
    min-height: 402px;
    background-color: #F2F2F2;
    &__close{
        font-size: 44px;
        line-height: 21px;
        display: block;
        color: $main-color;
        position: absolute;
        top: 0;
        right: -40px;
        cursor: pointer;
    }
    &__subtitle{
        color: #0D0D0D;
        text-align: center;
        font-family: MuseoModerno;
        font-size: 19px;
        font-style: normal;
        font-weight: 700;
        line-height: 19px;
    }
    &__descr{
        color: #0D0D0D;
        margin-top: 10px;
        text-align: center;
        font-family: MuseoModerno;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 14px;
        margin-bottom: 26px;
    }
    &_mini{
        min-height: 140px;
    }
    .error{
        border: 1px solid red;
    }
    label.error{
        border: none;
        text-align: left;
        margin-bottom: 15px;
    }
}
#consultation, #order, #thanks{
    display: none;
}
