.promo{
    height: 650px;
    padding: 21px 0 93px 0;
    background: url('../img/bg.png') center (center/cover) no-repeat;
    &__wrapper{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-top: 90px;
    }
    &__header{
        color: #FFF;
        text-align: right; 
        font-size: 42px;
        font-weight: 700;
        line-height: 42px; 
        text-transform: uppercase;
    }
    &__subheader{
        color: #FFF;
        text-align: right;
        font-family: MuseoModerno;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px; 
        text-transform: uppercase;
        margin-top: 17px;
    }
    &__icons{
        display: flex;
        justify-content: space-between;
        width: 424px;
        margin-top: 60px;
    }
    &__icon{
        width: 106px;
        text-align: center;
        font-size: 14px;
        color: #fff;
        font-weight: 500;
        img{
            display: block;
            margin: 0 auto;
            margin-bottom: 20px;
        }
    }
    &__link{
        margin-top: 10px;
        color: #FFF;
        text-align: right;
        font-family: MuseoModerno;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        a{
            color: #FFF;
            font-family: MuseoModerno;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            text-decoration-line: underline;
        }
    }
}