.title{
    color: #0D0D0D;
    text-align: center;
    font-family: MuseoModerno;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; /* 100% */
    text-transform: uppercase;
    &_left{
        text-align: left;
        color: #FFF;
        font-size: 36px;
        line-height: 54px;
        text-transform: uppercase;
    }
}